body {
  background-color: #7f7f7f;
}
.navbarLinks {
  text-decoration: none;
  color: white;
}
.drop-file {
    display: flex;
}
.card {
  margin: 10px auto;
  float: none;
  margin-bottom: 10px;
}
h6 {
  text-align: center;
}
p {
  text-align: justify;
}
